USE [master]
GO
/****** Object:  Database [Db_Sales]    Script Date: 9/15/2024 1:35:20 AM ******/
CREATE DATABASE [Db_Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Sales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Sales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Sales]
GO
/****** Object:  Table [dbo].[TblCustomer]    Script Date: 9/15/2024 1:35:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCustomer](
	[curtomerId] [tinyint] IDENTITY(1,1) NOT NULL,
	[curtomerNameAndSurname] [varchar](50) NULL,
 CONSTRAINT [PK_TblCurtomer] PRIMARY KEY CLUSTERED 
(
	[curtomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOperations]    Script Date: 9/15/2024 1:35:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOperations](
	[operationId] [smallint] IDENTITY(1,1) NOT NULL,
	[productNo] [tinyint] NULL,
	[customer] [tinyint] NULL,
	[staff] [tinyint] NULL,
	[preis] [smallint] NULL,
 CONSTRAINT [PK_TblOperations] PRIMARY KEY CLUSTERED 
(
	[operationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblProducts]    Script Date: 9/15/2024 1:35:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProducts](
	[productId] [tinyint] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](20) NULL,
	[productStock] [tinyint] NULL,
	[productBuyPrice] [smallint] NULL,
	[productSalePrice] [smallint] NULL,
 CONSTRAINT [PK_TblProducts] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblStaffs]    Script Date: 9/15/2024 1:35:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStaffs](
	[staffId] [tinyint] IDENTITY(1,1) NOT NULL,
	[staffName] [varchar](20) NULL,
 CONSTRAINT [PK_TblStaffs] PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblOperations]  WITH CHECK ADD  CONSTRAINT [FK_TblOperations_TblCustomer] FOREIGN KEY([customer])
REFERENCES [dbo].[TblCustomer] ([curtomerId])
GO
ALTER TABLE [dbo].[TblOperations] CHECK CONSTRAINT [FK_TblOperations_TblCustomer]
GO
ALTER TABLE [dbo].[TblOperations]  WITH CHECK ADD  CONSTRAINT [FK_TblOperations_TblProducts] FOREIGN KEY([productNo])
REFERENCES [dbo].[TblProducts] ([productId])
GO
ALTER TABLE [dbo].[TblOperations] CHECK CONSTRAINT [FK_TblOperations_TblProducts]
GO
ALTER TABLE [dbo].[TblOperations]  WITH CHECK ADD  CONSTRAINT [FK_TblOperations_TblStaffs] FOREIGN KEY([staff])
REFERENCES [dbo].[TblStaffs] ([staffId])
GO
ALTER TABLE [dbo].[TblOperations] CHECK CONSTRAINT [FK_TblOperations_TblStaffs]
GO
USE [master]
GO
